In [2]:
import pandas as pd
import matplotlib.pyplot as plt

df = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/covtype/covtype.data.gz', names=range(0, 55))

In [3]:
# Model will be working based on means of Elevation, Slope and Horizontal_Distance_To_Roadways variables

df = df.rename(columns={0: "elev", 2: 'slope', 5: "road_distance", 54: 'label'})
df = df[['elev', 'slope', 'road_distance', 'label']]
df

        elev  slope  road_distance  label
0       2596      3            510      5
1       2590      2            390      5
2       2804      9           3180      2
3       2785     18           3090      2
4       2595      2            391      5
...      ...    ...            ...    ...
581007  2396     20            108      3
581008  2391     19             95      3
581009  2386     17             90      3
581010  2384     15             90      3
581011  2383     13             67      3

[581012 rows x 4 columns]

In [4]:
means_tuples = []

for label in range(1, 8):
    working_df = df[df['label'] == label]
    
    means_tuples.append((working_df['elev'].mean(),
                         working_df['slope'].mean(),
                         working_df['road_distance'].mean()))

In [5]:
df_means = pd.DataFrame(means_tuples)
df_means.to_csv('means_heuristic_model.csv')